@using EDeviceClaims.Core
@model EDeviceClaims.WebUi.Areas.Underwriter.Models.UnderwriterClaimViewModel

<div>
    @Html.DropDownListFor(m => m.NewStatus, new SelectList(Model.Statuses,"Value", "Text"),"Select A Thingy")
</div>