@using EDeviceClaims.Core
@model EDeviceClaims.WebUi.Areas.Underwriter.Models.UnderwriterClaimViewModel

<div class="centerElement">
    @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses),"Value", "Text")  
</div>